{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Supporting Recovery Through Water Security | Kentainerss</title>
    <link rel="stylesheet" href="{% static 'assets/css/projects/nacada_detail.css' %}">
</head>
<body>

<header>
    {% include 'includes/mainnavbar.html' %}
</header>

<main>

<section class="detail-wrapper">

    <h1 class="detail-title">
        Supporting Recovery Through Water Security: Our Partnership with NACADA Kenya
    </h1>

    <div class="detail-content">
        <p>
            Kentainers Ltd is proud to partner with NACADA Kenya in promoting access to clean and reliable water through the donation of a water tank to the Miritini Treatment & Rehabilitation Centre.
            Water security is a critical pillar in creating safe, dignified spaces for recovery and wellness. We believe that sustainable access to water is not just a basic need — it’s a powerful tool in supporting health, hygiene, and long-term rehabilitation outcomes.
            <br>
            This initiative forms part of our ongoing Corporate Social Responsibility commitment to support communities through strategic partnerships.
            Together, we are investing in the future of recovery and resilience across Kenya. <br>
           #WaterSolutionsForLife #CSR #KentainersCares #CleanWaterAccess #RecoverySupport
        </p>
    </div>


    <!-- IMAGE GALLERY -->
    <div class="detail-gallery">
        <img src="{% static 'assets/image/projects/nacada/1.jpeg' %}" alt="Team at Miritini Centre">
        <img src="{% static 'assets/image/projects/nacada/2.jpeg' %}" alt="Water Tank Donation">
        <img src="{% static 'assets/image/projects/nacada/3.jpeg' %}" alt="Meeting Session">
        <img src="{% static 'assets/image/projects/nacada/4.jpeg' %}" alt="Centre Exterior">
        <img src="{% static 'assets/image/projects/nacada/5.jpeg' %}" alt="Centre Exterior">
    </div>

</section>

</main>

<footer>
    {% include 'includes/mainfooter.html' %}
</footer>

</body>
</html>