{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Update – Kentainerss</title>
    <link rel="stylesheet" href="{% static 'assets/css/projects/news_update.css' %}">
</head>
<body>

<header>
    {% include 'includes/mainnavbar.html' %}
</header>

<main>

<section class="news-wrapper">

    <div class="news-image">
        <img src="{% static 'assets/image/projects/notice.png' %}" alt="Public Clarification Statement">
    </div>

        <p class="news-breadcrumb">News Update</p>

    <h1 class="news-title">
        PUBLIC CLARIFICATION
    </h1>
    <div class="news-content">

        <p>
            Following media reports regarding Kentainerss Limited and the explosion
            that occurred in Embakasi, Nairobi, we wish to provide clarification.
        </p>

        <p>
            The explosion did not occur at our former premises in Embakasi either.
            We would like to confirm that Kentainerss Limited had moved its operations
            to Nairobi Gate Industrial Park, Northlands area.
        </p>

        <p>
            We extend our sincere condolences to the families affected and thank
            the national police, Nairobi County Government, St. John’s Ambulance,
            and other first responders for their quick response.
        </p>

        <p class="news-date">
            Kentainerss Limited<br>
            2nd February 2024
        </p>

    </div>

</section>

</main>

<footer>
    {% include 'includes/mainfooter.html' %}
</footer>

</body>
</html>