{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cart</title>
    <link rel="stylesheet" href="{% static 'assets/css/cart_sidebar.css' %}">
</head>
<body>
<main>
    <div class="cart-overlay" id="cartOverlay"></div>

<div class="cart-slider" id="cartSlider">
    <div class="cart-header-top">
        <h3>Cart</h3>
        <span class="cart-close" id="cartClose">&times;</span>
    </div>

    {% if cart_items %}
        {% for item in cart_items %}
            <div class="cart-item">
                <p>{{ item.product.name }}</p>
                <p>{{ item.quantity }} × {{ item.price }} KES</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No products in the Cart.</p>
    {% endif %}
</div>

</main>
<script>
const cartToggle = document.getElementById("cartToggle");
const cartSlider = document.getElementById("cartSlider");
const cartOverlay = document.getElementById("cartOverlay");
const cartClose = document.getElementById("cartClose");

cartToggle.addEventListener("click", () => {
    cartSlider.classList.add("active");
    cartOverlay.classList.add("active");
});

cartClose.addEventListener("click", closeCart);
cartOverlay.addEventListener("click", closeCart);

function closeCart() {
    cartSlider.classList.remove("active");
    cartOverlay.classList.remove("active");
}
</script>

</body>
</html>