{% load static %}
{% load humanize %}

<link rel="stylesheet" href="{% static 'assets/css/cart_sidebar.css' %}">
{% if cart_items %}
    {% for item in cart_items %}
        <div class="cart-item">

            <img src="{{ item.option.image.url }}" alt="{{ item.product.name }}">

            <div class="cart-item-info">
                <p class="cart-item-name">{{ item.product.name }}</p>

                {% if item.option %}
                    <p class="cart-item-option">
                        <strong>Size (Litres / CMS):</strong> {{ item.option.name }}
                    </p>
                {% endif %}

                <p class="cart-item-price">
                    {{ item.quantity }} × <strong>{{ item.price|floatformat:0|intcomma }}</strong> KES
                </p>

                <button class="cart-remove" data-id="{{ item.id }}">
                    Remove
                </button>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No products in the cart.</p>
{% endif %}


<script src="{% static 'assets/js/cart_sidebar.js' %}"></script>