.cart-sidebar {
    position: fixed;
    top: 0;
    right: -420px;
    width: 420px;
    height: 100vh;
    background: #fff;
    box-shadow: -4px 0 18px rgba(0,0,0,0.15);
    z-index: 9999;
    transition: 0.3s;
    padding: 25px;
    overflow-y: auto;
}

.cart-sidebar.open {
    right: 0;
}

.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(2px);
    z-index: 9998;
    display: none;
}

.cart-overlay.show {
    display: block;
}

.close-btn {
    font-size: 26px;
    border: none;
    background: none;
    cursor: pointer;
}

.checkout-btn {
    display: block;
    background: #10b461;
    padding: 16px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 8px;
}

.viewcart-btn {
    display: block;
    text-align: center;
    padding: 14px;
    background: #f1f1f1;
    border-radius: 8px;
    color: black;
}
