.cart-page {
    max-width: 1420px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding-bottom: 100px;
    padding-top: 80px;
}

.cart-title {
    font-family: Arial, sans-serif;
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 5px;
    color: #2263ae;
}

.cart-grid {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 40px;
}

/* LEFT INFO */
.cart-info {
    font-size: 14px;
    line-height: 1.7;
    color: #444;
}

/* RIGHT CART */
.cart-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.empty-cart {
    text-align: center;
    padding: 5px;
}

.empty-cart .kc-btn-shop{
    display: inline-block;
    margin-top: 10px;
}

.kc-btn-shop {
    display: inline-block;
    margin-top: 25px;
    background: #ffe500;
    color: #000;
    padding: 12px 32px;
    border-radius: 50px;
    font-size: 15px;
    text-decoration: none;
    border: 2px solid #142647;
}

.kc-btn-shop:hover {
    background-color: #33ba33;
    border-color: #23236a;
    color: #fff;
}

/* SUMMARY */
.summary {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.summary-total {
    font-weight: 700;
    font-size: 16px;
}

.checkout-wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

/* CHECKOUT BUTTON */
.checkout-btn {
    display: block;
    margin-top: 25px;
    width: 50%;
    text-align: center;
    padding: 16px;
    background: #ffe500;
    color: #000;
    font-weight: 600;
    border-radius: 4px;
    text-decoration: none;
    border: 2px solid #142647;
}

.checkout-btn:hover {
    background-color: #33ba33;
    border-color: #23236a;
    color: #fff;
}
