
.detail-wrapper {
    padding: 80px 0;
    max-width: 1340px;
    margin: 0 auto;
}

.detail-title {
    font-weight: normal;
    font-size: 42px;
    color: #1e3a8a;
    font-family: Georgia, serif;
    margin-bottom: 30px;
}

.detail-content {
    line-height: 1.8;
    color: #333;
    font-size: 14px;
    margin-bottom: 50px;
}

.detail-gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.detail-gallery img {
    width: 20%;
}

@media (max-width: 992px) {
    .detail-wrapper {
        padding: 40px 18px;
    }

    .detail-title {
        font-size: 26px;
    }

    .detail-gallery {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .detail-gallery img {
        width: 75%;
    }



}