.detail-wrapper {
    padding: 80px 0;
    max-width: 1340px;
    margin: 0 auto;
}

.detail-title {
    font-weight: normal;
    font-size: 38px;
    color: #1e3a8a;
    font-family: Georgia, serif;
    margin-bottom: 30px;
}

/* SPLIT LAYOUT */
.detail-split {
    display: flex;
    align-items: flex-start;
    gap: -50px;
}

/* LEFT IMAGE */
.detail-image {
    width: 30%;
    height: 200px;
}

.detail-image img {
    width: 90%;
    border-radius: 4px;
    object-fit: cover;
}

/* RIGHT CONTENT */
.detail-content {
    width: 100%;
    color: #072933;
}

/* CHECK LIST */
.commitment-list {
    margin: 20px 0;
    padding-left: 0;
    list-style: none;
}

.commitment-list li {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
}

.detail-below{
    font-size: 13px;
    color: #0d193e;
}
.hashtags {
    margin-top: 20px;
    font-weight: 600;
    color: #040b20;
    font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .detail-split {
        flex-direction: column;
    }

    .detail-image,
    .detail-content {
        width: 100%;
    }
}